.topnav {
  width: 1000px;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 31px;
  border-bottom: 1px solid #f7f7f7; }

.adduserbtn {
  line-height: 40px;
  color: #0055ff;
  font-size: 18px; }

.adduserbtn {
  position: absolute;
  width: 114px;
  height: 30px;
  line-height: 30px;
  background-color: #cbd6ee;
  border-radius: 2px;
  top: 5px;
  text-align: center;
  font-size: 14px;
  cursor: pointer; }

.btn1 {
  left: 747px; }

.btn2 {
  left: 885px; }

.userselcbox {
  margin: 0 auto;
  margin-top: 46px;
  width: 453px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .userselcbox .tit {
    width: 124px;
    height: 15px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 5px;
    margin-left: 8px;
    color: #020035; }
  .userselcbox .users {
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .userselcbox .users .userbox {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 65px; }
      .userselcbox .users .userbox .selc {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 10px;
        height: 10px;
        border: solid 1px #020035;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 5px; }
    .userselcbox .users .active {
      background: #0055ff;
      border: 0 !important; }
    .userselcbox .users .activetxt {
      color: #0055ff; }
    .userselcbox .users .last {
      margin: 0; }

.box2 {
  width: 440px;
  height: 294px;
  margin: 0 auto;
  margin-top: 41px;
  position: relative; }
  .box2 .imptbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .box2 .tit {
    width: 92px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: 2px;
    color: #0055ff;
    margin-left: 41px; }
  .box2 .tip {
    width: 124px;
    height: 15px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 45px;
    color: #020035; }
  .box2 .tip2 {
    letter-spacing: 5px !important; }
  .box2 .tip3 {
    width: 124px;
    height: 15px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: #020035; }
  .box2 .tip4 {
    width: 150px;
    height: 15px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 2px;
    margin-left: 180px;
    margin-bottom: 10px;
    color: #0055ff; }
  .box2 .inp {
    width: 300px;
    height: 38px;
    padding-left: 20px;
    background-color: #f7f7f7;
    border-radius: 2px;
    border: solid 1px #f0f0f0; }
  .box2 .imptbox2 {
    margin-top: 25px; }
  .box2 .btnbox {
    margin-top: 20px;
    margin-left: 50px; }
    .box2 .btnbox .btn {
      border-radius: 2px;
      width: 151px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      cursor: pointer; }
    .box2 .btnbox .sure {
      background: #cbd6ee;
      margin-left: 74px; }
