.addnewexptit {
  font-size: 24px;
  font-weight: bold;
  color: #000035;
  margin-top: 30px; }

.addnewexpschedulebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 28px;
  color: #999999; }
  .addnewexpschedulebox .selsct {
    color: #000035 !important; }
  .addnewexpschedulebox .line {
    width: 30px;
    text-align: center; }

.addexpbox {
  width: 721px;
  height: 522px; }
  .addexpbox .addsurebtn {
    text-align: center;
    width: 123px;
    height: 32px;
    line-height: 32px;
    background-color: #cbd6ee;
    border-radius: 2px;
    font-size: 15px;
    margin-top: 45px;
    margin-left: 250px;
    cursor: pointer; }
  .addexpbox .addbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 15px; }
    .addexpbox .addbox .left {
      width: 130px;
      line-height: 32px; }
    .addexpbox .addbox .right {
      margin-left: 13px; }
    .addexpbox .addbox .right2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .addexpbox .addbox .righttxt {
      font-size: 14px;
      color: #020035;
      margin-top: 5px; }
    .addexpbox .addbox .rightbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 25px; }
    .addexpbox .addbox .lastrightbox {
      margin-top: -10px;
      margin-bottom: 10px;
      }
    .addexpbox .addbox .rightboxleft {
      font-size: 14px;
      margin-top: 5px;
      margin-right: 27px;
      width: 87px; }
    .addexpbox .addbox .selctbox {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 32px;
      line-height: 32px;
      outline: none;
      border-radius: 2px;
      background-color: #f7f7f7;
      border: solid 1px #f0f0f0; }
    .addexpbox .addbox .selctbox1 {
      width: 317px; }
    .addexpbox .addbox .selctbox2 {
      width: 94px;
      text-align: center;
      margin-right: 14px; }
    .addexpbox .addbox .radiobox {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 35px;
      height: 32px;
      line-height: 32px; }
      .addexpbox .addbox .radiobox .selc {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 10px;
        height: 10px;
        border: solid 1px #020035;
        border-radius: 50%;
        margin-top: 11px;
        margin-right: 5px; }
      .addexpbox .addbox .radiobox .active {
        background: #0055ff;
        border: 0 !important; }
      .addexpbox .addbox .radiobox .activetxt {
        color: #0055ff; }
    .addexpbox .addbox .btn {
      cursor: pointer;
      width: 123px;
      height: 32px;
      background-color: #cbd6ee;
      border-radius: 2px;
      text-align: center;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      position: relative; }
    .addexpbox .addbox .btn2 {
      margin: 0;
      margin-right: 25px; }
    .addexpbox .addbox .txtare {
      width: 573px;
      height: 91px;
      background-color: #f7f7f7;
      border-radius: 2px;
      border: solid 1px #f0f0f0;
      outline: none; }

.addepxupdatamod {
  display: none; }

.addexpupexpdata {
  display: none; }

.filename {
  width: 123px;
  height: 32px;
  border-radius: 2px;
  line-height: 32px;
  text-align: center;
  font-size: 14px; }

.scale {
  position: relative;
  width: 100%;
  padding: 10px 0;
  height: 30px;
  position: relative;
  background: url("../img/scalebg.png") no-repeat center;
  background-position: 80px 12px;
  background-size: 260px 12px; }

.scale1 {
  position: relative;
  width: 100%;
  padding: 10px 0;
  height: 30px;
  position: relative;
  background: url("../img/scalebg.png") no-repeat center;
  background-position: 100px 12px;
  background-size: 232px 12px; }
.scale2 {
  width: 300px;
  margin-top: -10px; }

.scale p {
  position: absolute;
  line-height: 28px;
  margin-top: -14px;
  font-size: 14px;
  left:0px;}

.scale p.setting {
  position: absolute;
  line-height: 28px;
  margin-top: -14px;
  left:20px;
  }
p.setting1{
  position: absolute;
  line-height: 28px;
  margin-top: -14px;
  left:20px;
}

.scale em.blue {
  left: 10px;
  font-size: 14px; }

.scale em.blue2 {
  left: 0px;
  font-size: 12px; }

.scale em.red {
  right: 10px;
  font-size: 14px; }

.scale em.red2 {
  right: 10px;
  font-size: 12px; }

form {

  margin-top: -15px;
  margin-left: 80px;
  }

input[type="range"] {
  width: 100%;
  height: 2px;
  background: url(../img/logo.png) no-repeat center;
  background-position: 0 10px;
  background-size: 100% 9px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(11, 18, 73, 0.4);
  box-shadow: 2px 2px 3px 0 rgba(11, 18, 73, 0.4);
  -webkit-appearance: none;
  outline: none;
  }

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 2px rgba(73, 53, 11, 0.2);
  box-shadow: 0 0 3px 2px rgba(73, 53, 11, 0.2);
  -webkit-appearance: none;
  cursor: default;
  S}



.scalebg {
  top: 29px;
  left: 60px;
  width: 186px;
  height: 15px;
  z-index: 999; }

.operationbox {
  width: 100%;
  height: 1310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .operationbox .left {
    width: 800px;
    height: 100%; }
  .operationbox .right {
    width: 300px;
    min-height: 600px;
    margin-left: 20px; }
    .operationbox .right .rtit {
      font-size: 18px;
      margin-top: 20px; }
    .operationbox .right .runm {
      font-size: 12px; }
    .operationbox .right .unitbox .unit {
      margin-top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      .operationbox .right .unitbox .unit .uright {
        margin-left: 10px; }
    .operationbox .right .rangebox .rtit {
      font-size: 14px; }
    .operationbox .right .obtnbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 35px; }
      .operationbox .right .obtnbox .obtn {
        width: 123px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #cbd6ee;
        border-radius: 2px;
        font-size: 15px;
        cursor: pointer; }
      .operationbox .right .obtnbox .restart {
        margin-left: 50px; }
      .operationbox .right .obtnbox .stop {
        margin-left: 50px; }

.operationbox2 {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .operationbox2 .left {
    width: 800px;
    height: 100%; }
  .operationbox2 .right {
    width: 300px;
    min-height: 600px;
    margin-left: 20px; }
    .operationbox2 .right .poramsbox .rutitle {
      font-size: 18px;
      margin-top: 22px;
      margin-bottom: 5px; }
    .operationbox2 .right .poramsbox .unitbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
      .operationbox2 .right .poramsbox .unitbox .u_left {
        font-size: 14px;
        width: 90px;
        margin-right: 20px;
        margin-top: 7px; }
      .operationbox2 .right .poramsbox .unitbox .u_right {
        position: relative; }
        .operationbox2 .right .poramsbox .unitbox .u_right .selectcl {
          outline: none;
          width: 200px;
          height: 29px;
          background-color: #ffffff;
          border-radius: 2px;
          border: solid 1px #f0f0f0; }
        .operationbox2 .right .poramsbox .unitbox .u_right .ipt {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: solid 1px #f0f0f0;
          height: 29px;
          line-height: 29px;
          margin-left: -10px;
          padding-left: 20px;
          width: 200px; }
        .operationbox2 .right .poramsbox .unitbox .u_right .dw {
          position: absolute;
          top: 5px;
          right: -40px;
          font-size: 14px; }
    .operationbox2 .right .rangebox .rtit {
      font-size: 14px; }
    .operationbox2 .right .rangebox .rutitle {
      font-size: 22px;
      margin-top: 202px;
      margin-bottom: 5px; }
    .operationbox2 .right .rangebox .runm {
      font-size: 12px; }
    .operationbox2 .right .djcs .rutitle {
      font-size: 18px;
      margin-top: 22px;
      margin-bottom: 5px; }
    .operationbox2 .right .djcs .unitbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
      .operationbox2 .right .djcs .unitbox .u_left {
        font-size: 14px;
        width: 90px;
        margin-right: 20px;
        margin-top: 7px; }
      .operationbox2 .right .djcs .unitbox .u_right {
        position: relative; }
        .operationbox2 .right .djcs .unitbox .u_right .selectcl {
          outline: none;
          width: 200px;
          height: 29px;
          background-color: #ffffff;
          border-radius: 2px;
          border: solid 1px #f0f0f0; }
        .operationbox2 .right .djcs .unitbox .u_right .ipt {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: solid 1px #f0f0f0;
          height: 29px;
          line-height: 29px;
          margin-left: -10px;
          padding-left: 20px;
          width: 200px; }
        .operationbox2 .right .djcs .unitbox .u_right .dw {
          position: absolute;
          top: 5px;
          right: -40px;
          font-size: 14px; }
    .operationbox2 .right .obtnbox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 35px; }
      .operationbox2 .right .obtnbox .obtn {
        width: 123px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #cbd6ee;
        border-radius: 2px;
        font-size: 15px;
        cursor: pointer; }
      .operationbox2 .right .obtnbox .restart {
        margin-left: 50px; }
  .operationbox2 .obtnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px; }
    .operationbox2 .obtnbox .obtn {
      width: 123px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: #cbd6ee;
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer; }
    .operationbox2 .obtnbox .restart {
      margin-left: 50px; }
    .operationbox2 .obtnbox .stop {
      margin-left: 50px; }

.btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }
  .btnbox .btn {
    width: 123px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0px;
    color: #020035;
    background-color: #cbd6ee;
    border-radius: 2px; }
  .btnbox .btnleft {
    margin-left: 452px;
    margin-right: 50px; }

.btnbox2 {
  margin-top: 30px; }
  .btnbox2 .btn {
    width: 123px;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0px;
    color: #020035;
    background-color: #cbd6ee;
    border-radius: 2px;
    cursor: pointer; }
  .btnbox2 .btn2 {
    width: 123px;
    margin-right: 10px;
    float: left; }

.boximg {
  position: relative; }
  .boximg .operselect {
    width: 217px;
    height: 32px;
    background-color: #f7f7f7;
    border-radius: 2px;
    border: solid 1px #f0f0f0;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px; }
  .boximg .opertit {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #020035; }
  .boximg .viewbox {
    position: absolute;
    top: 10px;
    left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .boximg .viewbox p {
      margin-left: 10px; }
    .boximg .viewbox .changebtn {
      width: 79px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      background-color: #cbd6ee;
      border-radius: 2px;
      cursor: pointer;
      font-size: 12px; }

.boximg1 {
  width: 800px;
  height: 400px; }
  .boximg1 img {
    width: 100%;
    height: 100%; }

.boximg3 {
  width: 802px;
  height: 450px;
  position: relative;
    top: 100px;
    left: 0px;}
  .boximg3 img {
    width: 100%;
    height: 100%; }

.boximg2 {
  width: 800px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .boximg2 .leftboximg {
    width: 400px;
    height: 400px; }
    .boximg2 .leftboximg img {
      width: 100%;
      height: 100%; }
  .boximg2 .rightboximg {
    width: 400px;
    height: 400px; }
    .boximg2 .rightboximg img {
      width: 100%;
      height: 100%; }
form.input-scale{
  margin-left: 100px;
  width: 230px;
}