<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon"/>
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/adduser.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造技术基础实验</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ adminname }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="topnav">
    <div class="adduserbtn btn1 adduserdown">下载导入模版</div>
    <div class="adduserbtn btn2 adduserup">批量导入用户</div>
</div>

<div class="userselcbox">
    <div class="tit">用户身份</div>
    <div class="users">
        <div class="templatebox1">
            <input checked="checked" id="user_identity" value="1" class="rradio" type="radio" name="template"/>
            <lable>学生</lable>
        </div>
        <div class="templatebox1">
            <input id="user_identity" value="2" class="rradio" type="radio" name="template"/>
            <lable>教师</lable>
        </div>
        {% if issuperadmin == "1" %}
            <div class="templatebox1">
                <input id="user_identity" value="3" class="rradio" type="radio" name="template"/>
                <lable>管理员</lable>
            </div>
        {% endif %}
    </div>
</div>
<div class="box2">
    <div class="imptbox imptbox1">
        <div class="tip">姓名</div>
        <input class="inp addname" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox4">
        <div class="tip">编号</div>
        <input id="number_id" class="inp addnumber" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">学号</div>
        <input id="student_id" class="inp addnumber" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip3">基础信息</div>
        <a class="tip4" href="/setBasicInformation">配置基础信息>></a>
    </div>

    <div class="imptbox imptbox2 imptbox3">
        <div class="tip tip2">入学年份</div>
        <select id="sele_registyear" class="inp addnumber">
            <option value="volvo">请选择</option>
            <option value="saab">2019年</option>
            <option value="opel">2018年</option>
            <option value="audi">2017年</option>
        </select>
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">专业</div>
        <select id="sele_major" class="inp addnumber">
            <option value="volvo">--</option>
        </select>
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">班级</div>
        <select id="sele_classname" class="inp addnumber">
            <option value="volvo">--</option>
        </select>
    </div>

    <div class="btnbox">
        <div class="btn sure sureadd">确认添加</div>
    </div>

</div>


<div class="footer">
    <div class="fbox">
        
        <div class="tip1">网站版权所有 ©2020 哈尔滨工业大学</div>
        
        
    </div>

</div>
</body>
<div class="popupbox">
    <div class="layer"></div>

    <!--上传文件-->
    <div class="popupwall popupwall2">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid popupmid3">名单必须为符合名单模板并且为EXCEL格式，文件大小在3M以内。</div>
        <form id="uploadfile" action="" method="post" enctype="multipart/form-data">
            <input id="type" type="hidden" name="type">
            <div class="btn cancle">
                选择文件
                <input class="uploadfile" type="file" name="file" onchange="publicObj.fileUpLoad()">
            </div>
            <!--<div class="btn sure fileupload">确认上传</div>-->
            <input class="btn sure fileupload" type="submit" class="btn btn-default" value="确认上传">
        </form>
        <div class="fileuploadname"></div>
    </div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle addusercancle">确定</div>
        <div class="btn sure addusersure">取消</div>
    </div>
    <!--请求失败-->
    <div class="popupwall popupwall8">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            呀，服务器异常了，请稍后重试！
        </div>
        <div class="btn sure">确定</div>
    </div>
</div>
<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('issuperadmin', '', {expires: -1, path: '/'});
        $.cookie('adminid', '', {expires: -1, path: '/'});
        $.cookie('adminname', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginadmin/');
    });
</script>
<script>
    var filterid=0;
    $("#sele_registyear").change(function() { set_arr_major($('#sele_registyear option:selected').val()); set_arr_classname()});
    $("#sele_major").change(function() { set_arr_classname($('#sele_registyear option:selected').val(),$('#sele_major option:selected').val()); });
    $("#sele_classname").change(function() {set_filterid($('#sele_registyear option:selected').val(),$('#sele_major option:selected').val(),$('#sele_classname option:selected').val());});


    var filterInfoListJsonStr = $('<div>').html("{{ filterInfoListstr }}").text();
    var a = JSON.parse(filterInfoListJsonStr)

    var b = new Array();
    for(var i = 0; i < a.length; i++){

      if(b.indexOf(a[i].registyear)==-1){
        b.push(a[i].registyear)
      }

    }
    arr_registyear="<option value='-1'>请选择</option>";
      for(j=0;j<b.length;j++){
        arr_registyear+='<option value="'+b[j]+'">'+b[j]+'</option>'
      }
      $('#sele_registyear').empty().append(arr_registyear);


    function set_arr_major(t_registyear) {
        var c = new Array();
        for(var i = 0; i < a.length; i++){
            if(t_registyear==a[i].registyear&&c.indexOf(a[i].major)==-1){
                c.push(a[i].major);
            }
        }
        arr_major="<option value='-1'>请选择</option>";;
          for(j=0;j<c.length;j++){
            arr_major+='<option value="'+c[j]+'">'+c[j]+'</option>'
          }
          $('#sele_major').empty().append(arr_major);
    }

    function set_arr_classname(t_registyear,t_major) {
        var c = new Array();
        for(var i = 0; i < a.length; i++){
            if(t_registyear==a[i].registyear&&t_major==a[i].major&&c.indexOf(a[i].classname)==-1){
                c.push(a[i].classname);
            }
        }
        arr_classname="<option value='-1'>请选择</option>";
          for(j=0;j<c.length;j++){
            arr_classname+='<option value="'+c[j]+'">'+c[j]+'</option>'
          }
          $('#sele_classname').empty().append(arr_classname);
    }

    function set_filterid(t_registyear,t_major,t_classname) {
        for(var i = 0; i < a.length; i++){
            if(t_registyear==a[i].registyear&&t_major==a[i].major&&t_classname==a[i].classname){
                filterid=a[i].id;
            }
        }
    }







    hide_show();

    function hide_show() {
        tp = $("input[name='template']:checked").val();
        $("#type").attr("attr", tp)
        if (tp == "1") {
            $(".imptbox3").show()
            $(".imptbox4").hide()
        }
        else {
            $(".imptbox4").show()
            $(".imptbox3").hide()
        }
    }

    $(".rradio").unbind("click").bind("click", hide_show);
    $(".sureadd").unbind("click").bind("click", function () {
        type = $("#type").attr("attr")
        action = ""
        addname = $(".addname").val()
        addnumber = $("#number_id").val()
        studentid=$("#student_id").val()
        addteachername = $(".addteachername").val()
        addteachernumber = $(".addteachernumber").val()
        if (addname == undefined || addname == "" || (studentid == undefined&&addnumber==undefined) || (studentid == ""&&addnumber=="")) {
            alert("填写的信息不能为空！")
            return
        }
        data = {}
        if (type == "" || type == undefined) {
            alert("请选择要添加的用户身份！")
            return
        } else if (type == 1) {
            if (filterid == undefined || filterid == "") {
                alert("填写的信息不能为空！")
                return
            }
            data = {
                studentnum: studentid,
                studentname: addname,
                filterinfoid:filterid,
            }
            action = "/addStudent/"
        } else if (type == 2) {
            data = {teachernum: addnumber, teachername: addname}
            action = "/addTeacher/"
        } else if (type == 3) {
            data = {teachernum: addnumber, teachername: addname}
            action = "/addAdmin/"
        } else {
            alert("操作异常，请重新添加！")
            window.location.reload()
            return
        }

        $.post(action, data,
            function (data, status) {
                dataObj = $.parseJSON(data)
                code = dataObj.code;
                if (code == -2) {//未登录
                    window.location = "/loginadmin/";
                } else if (code != 0) {
                    alert(dataObj.desc);
                } else {
                    alert("添加成功！")
                    window.location.reload()
                }
            });

    })
</script>
</html>
