<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon"/>
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/adduser.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造虚拟实验室</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ adminname }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="topnav">
    <div class="adduserbtn btn1 adduserdown">下载导入模版</div>
    <div class="adduserbtn btn2 adduserup">批量导入用户</div>
</div>

<div class="userselcbox">
    <div class="tit">用户身份</div>
    <div class="users">
        <div class="templatebox1">
            <input checked="checked" id="user_identity" value="1" class="rradio" type="radio" name="template"/>
            <lable>学生</lable>
        </div>
        <div class="templatebox1">
            <input id="user_identity" value="2" class="rradio" type="radio" name="template"/>
            <lable>教师</lable>
        </div>
        {% if issuperadmin == "1" %}
            <div class="templatebox1">
                <input id="user_identity" value="3" class="rradio" type="radio" name="template"/>
                <lable>管理员</lable>
            </div>
        {% endif %}
    </div>
</div>
<div class="box2">
    <div class="imptbox imptbox1">
        <div class="tip">姓名</div>
        <input class="inp addname" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox4">
        <div class="tip">编号</div>
        <input class="inp addnumber" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">学号</div>
        <input class="inp addnumber" type="text">
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip3">基础信息</div>
        <a class="tip4" href="/setBasicInformation">配置基础信息>></a>
    </div>

    <div class="imptbox imptbox2 imptbox3">
        <div class="tip tip2">入学年份</div>
        <select class="inp addnumber">
            <option value="volvo">请选择</option>
            <option value="saab">2019年</option>
            <option value="opel">2018年</option>
            <option value="audi">2017年</option>
        </select>
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">院系</div>
        <select class="inp addnumber">
            <option value="volvo">请选择</option>
            <option value="saab">机电工程学院</option>
            <option value="opel">材料工程学院</option>
        </select>
    </div>
    <div class="imptbox imptbox2 imptbox3">
        <div class="tip">班级</div>
        <select class="inp addnumber">
            <option value="volvo">请选择</option>
            <option value="saab">1908105</option>
            <option value="opel">1908103</option>
            <option value="audi">1908106</option>
        </select>
    </div>

    <div class="btnbox">
        <div class="btn sure sureadd">确认添加</div>
    </div>

</div>


<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>

</div>
</body>
<div class="popupbox">
    <div class="layer"></div>

    <!--上传文件-->
    <div class="popupwall popupwall2">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid popupmid3">名单必须为符合名单模板并且为EXCEL格式，文件大小在3M以内。</div>
        <form id="uploadfile" action="" method="post" enctype="multipart/form-data">
            <input id="type" type="hidden" name="type">
            <div class="btn cancle">
                选择文件
                <input class="uploadfile" type="file" name="file" onchange="publicObj.fileUpLoad()">
            </div>
            <!--<div class="btn sure fileupload">确认上传</div>-->
            <input class="btn sure fileupload" type="submit" class="btn btn-default" value="确认上传">
        </form>
        <div class="fileuploadname"></div>
    </div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle addusercancle">确定</div>
        <div class="btn sure addusersure">取消</div>
    </div>
    <!--请求失败-->
    <div class="popupwall popupwall8">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            呀，服务器异常了，请稍后重试！
        </div>
        <div class="btn sure">确定</div>
    </div>
</div>
<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('issuperadmin', '', {expires: -1, path: '/'});
        $.cookie('adminid', '', {expires: -1, path: '/'});
        $.cookie('adminname', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginadmin/');
    });
</script>
<script>

    var filterInfoListJsonStr = "{{ filterInfoListstr }}"


    hide_show();

    function hide_show() {
        tp = $("input[name='template']:checked").val();
        if (tp == "1") {
            $(".imptbox3").show()
            $(".imptbox4").hide()
        }
        else {
            $(".imptbox4").show()
            $(".imptbox3").hide()
        }
    }

    $(".rradio").unbind("click").bind("click", hide_show);
    $(".sureadd").unbind("click").bind("click", function () {
        type = $("#type").attr("attr")
        action = ""
        addname = $(".addname").val()
        addnumber = $(".addnumber").val()
        addteachername = $(".addteachername").val()
        addteachernumber = $(".addteachernumber").val()
        if (addname == undefined || addname == "" || addnumber == undefined || addnumber == "") {
            alert("填写的信息不能为空！")
            return
        }
        data = {}
        if (type == "" || type == undefined) {
            alert("请选择要添加的用户身份！")
            return
        } else if (type == 1) {
            if (addteachername == undefined || addteachername == "" || addteachernumber == undefined || addteachernumber == "") {
                alert("填写的信息不能为空！")
                return
            }
            data = {
                studentnum: addnumber,
                studentname: addname,
                addteachername: addteachername,
                addteachernumber: addteachernumber
            }
            action = "/addStudent/"
        } else if (type == 2) {
            data = {teachernum: addnumber, teachername: addname}
            action = "/addTeacher/"
        } else if (type == 3) {
            data = {teachernum: addnumber, teachername: addname}
            action = "/addAdmin/"
        } else {
            alert("操作异常，请重新添加！")
            window.location.reload()
            return
        }

        $.post(action, data,
            function (data, status) {
                dataObj = $.parseJSON(data)
                code = dataObj.code;
                if (code == -2) {//未登录
                    window.location = "/loginadmin/";
                } else if (code != 0) {
                    alert(dataObj.desc);
                } else {
                    alert("添加成功！")
                    window.location.reload()
                }
            });

    })
</script>
</html>
