<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/possword.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造技术基础实验</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{% if adminname != None %}{{ adminname }}{% endif %}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall2">
    <div class="box">
        <div class="tit">修改密码</div>
        <div class="imptbox imptbox1">
            <div class="tip">原密码</div>
            <input class="inp oldpwd" type="password">
        </div>
        <div class="imptbox imptbox2">
            <div class="tip">新密码</div>
            <input class="inp newpwd" type="password">
        </div>
        <div class="imptbox imptbox2">
            <div class="tip tip2">再次输入</div>
            <input class="inp newpwd2" type="password">
        </div>
        <div class="btnbox">
            <div class="btn cancel pwcancel">取 消</div>
            <div class="btn sure adminpwsure">确 认</div>
        </div>

    </div>
</div>
<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>

</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/plugin/sha256.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('issuperadmin', '', {expires: -1, path: '/'});
        $.cookie('adminid', '', {expires: -1, path: '/'});
        $.cookie('adminname', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginadmin/');
    });

</script>
</html>
