<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>全部实验</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/teacher.css">
    <style>
        .navtip3 > a {
            color: #0055ff !important;
        }
    </style>

</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造技术基础实验</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ teachername }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall">
    <div class="teachnavbox">
        <div class="navwall navwall1">
            <div class="navtop">
                <div class="navtitname">实验作业</div>
                <div class="navarrowbox">
                    <img class="arrow uparrow" src="../static/img/up.png" alt="">
                    <img class="arrow activearrow activearrow1" src="../static/img/down.png" alt="">
                </div>
            </div>
            <ul class="navcenter navcenter1">
                <li class="navtip navtip1">
                    <a href="/undoneteaching/">进行中教学({{ teachingCount.runCount }}个)</a>
                </li>
                <li class="navtip navtip2">
                    <a href="/completedteaching/">已完成教学({{ teachingCount.stopCount }}个)</a>
                </li>
                <li class="navtip navtip4 noborder">
                    <a href="/addexp/">新建实验教学</a>
                </li>
            </ul>
        </div>
        <div class="navwall navwall2">
            <div class="navtop">
                <div class="navtitname" >实验库</div>
                <div class="navarrowbox">
                    <img class="arrow uparrow2" src="../static/img/up.png" alt="">
                    <img class="arrow activearrow activearrow2" src="../static/img/down.png" alt="">
                </div>
            </div>
            <ul class="navcenter navcenter2">
                <li class="navtip navtip3">
                    <a href="/allexptea/">全部实验</a>
                </li>
{#                {% for experiment in experimentMenuList %}#}
{#                    <li class="navtip">#}
{#                        <a href="{{ experiment.url }}" target="_blank">{{ experiment.name }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
            </ul>
        </div>
        <div class="navwall navwall3 changepsw">
            <div class="navtop">
                <div class="navtitname">修改密码</div>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="allunitwall">
            {% for experiment in experimentList %}
                <div class="unitbox">
                    <div class="unittopbg">
                        <div class="desbox">
                            <div class="title">实验名称：</div>
                            <div class="txt">{{ experiment.name }}</div>
                        </div>

                    </div>
                    <div class="unitwall unitwall2">

                        <div class="desbox">
                            <div class="title">实验描述：</div>
                            <div class="txt">{{ experiment.desc }}</div>
                        </div>
                    </div>

                    <div class="unitftbg">
                        <ul class="btnwall">
                            <li class="changedescription unitbtn" experimentid="{{ experiment.id }}" experimentname="{{ experiment.name }}" experimentdesc="{{ experiment.desc }}">
                                修改实验描述
                            </li>
                            <li class="changevide2 unitbtn" experimentid="{{ experiment.id }}"
                                videos="{{ experiment.videos }}">修改实验预习
                            </li>
                            <li class="updatamod unitbtn" experimentid="{{ experiment.id }}"
                                templateid="{{ experiment.templateid }}">修改默认报告模板
                            </li>
                            <li class="allteaoperation unitbtn" experimenturl="{{ experiment.url }}">实验操作</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>
</div>
<!--弹窗-->
<div class="popupbox">
    <div class="layer"></div>
    <!--评分弹窗-->
    <div class="popupwall popupwall1">
        <div class="name">姓名：王小明</div>
        <div class="id">学号：2499926794</div>
        <!--实验报告-->
        <div class="repotr"></div>
        <div class="scorebox">
            <div class="tip">评分</div>
            <input type="text">
        </div>
        <div class="btn cancle">取消</div>
        <div class="btn sure">确定</div>
    </div>
    <!--上传文件-->
    <div class="popupwall popupwall2">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid popupmid1">实验数据必须为EXCEL格式，文件大小在3M以内。</div>
        <div class="popupmid popupmid2">报告模板必须为WORD格式，文件大小在3M以内。</div>
        <form id="uploadfile" action="" method="post" enctype="multipart/form-data">
            <div class="btn cancle">
                选择文件
                <input class="uploadfile" type="file" name="file" onchange="publicObj.fileUpLoad()"/>
            </div>
            <input class="btn sure fileupload" type="submit" class="btn btn-default" value="确认上传"/>
            <input id="experimentid" type="hidden" name="experimentid" value=""/>
        </form>
        <div class="fileuploadname"></div>
    </div>
    <!--删除实验教学-->
    <div class="popupwall popupwall3">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <div class="popupmid">教学实验删除后不可恢复，<br>确认删除此实验教学吗？</div>
        <div class="btn cancle">确定</div>
        <div class="btn sure">取消</div>
    </div>
    <!--更换视频-->
    <div class="popupwall popupwall5">
        <img class="dele" src="../static/img/dele.png" alt="">
        <input type="hidden" id="changevideoexperimentid">
        <div class="videowall2">
            <div class="videowall">
            </div>
        </div>

        <div class="vbtnbox">
            <div class="vbtn preadd2">前方添加</div>
            <div class="vbtn changvideo2">更改</div>
            <div class="vbtn cvdele2">删除</div>
            <div class="vbtn behindadd2">后方添加</div>
            <div class="vbtn vbover3">完成</div>
        </div>
    </div>
    <!--学生提交报告-->
    <div class="popupwall popupwall6">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid">提交报告必须为PDF格式，文件大小在3M以内。</div>
        <div class="btn cancle">选择文件</div>
        <div class="btn sure">确认上传</div>
    </div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle allteasure">确定</div>
        <div class="btn sure allteacancle">取消</div>
    </div>
    <!--请求失败-->
    <div class="popupwall popupwall8">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            呀，服务器异常了，请稍后重试！
        </div>
        <div class="btn sure">确定</div>
    </div>
    <!--观看视频-->
    <div class="popupwall popupwall9">
        <img class="dele" src="../static/img/dele.png" alt="">
        <div id="videoname" class="v_name"></div>
        <div class="vbox">
            <div class="videobox">
                <video id="video" controls>
                </video>
            </div>
        </div>
        <div class="vchangebox">
        </div>
    </div>
    <!--修改视频时上传文件-->
    <div class="popupwall popupwall2_2">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="changevdele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid ">视频名称</div>
        <input type="hidden" id="addvideotype" value="0">
        <form id="addvideo" action="/addexperiment/" method="post" enctype="multipart/form-data">
            <input id="videoexperimentid" type="hidden" name="experimentid" value=""/>
            <!--说明框-->
            <textarea class="shuomingbox" name="name"></textarea>
            <!--提交-->
            <div class="btn changevideofile">
                选择文件
                <input class="uploadfile" type="file" name="file" onchange="publicObj.updataChangeVideo()">
            </div>
            <div class="btn cancle changvideocancle">
                取消
            </div>
            <div class="btn sure changvideosure2">确认上传</div>

            <div class="videofileuploadname"></div>
        </form>
    </div>
</div>





<div class="setdescription">
    <div class="layer"></div>

    <div class="popupwall popupwall5">
        <img class="dele" src="../static/img/dele.png" alt="">

        <div style="margin-left: 20px;margin-top: 40px;">



            <div style="margin-top: 10px;width: 200px">
                <input id="des_title" style="width: 400px;font-size: 15px;"></input>
                <input id="des_id" type="hidden">
                <textarea id="des_content" style="width: 650px;height: 350px"></textarea>
            </div>
            <div class="btn" style="margin-left: 282px;width: 100px" onclick="setdescription_sure()">保存</div>
            </div>
    </div>

</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/plugin/jquery.form.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('teacherid', '', {expires: -1, path: '/'});
        $.cookie('teachernumber', '', {expires: -1, path: '/'});
        $.cookie('teachername', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginteacher/');
    });

    function beforeCheck() {
        return
    }

    function setdescription_sure(){

            var form_data = new FormData();
			form_data.append('des_id',($("#des_id").val()));
			form_data.append('des_content',($("#des_content").val()));

            $.ajax({
                url:"/setdescription/",
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback)
                {
                    console.log(callback);
                    $(".setdescription").hide();
                    $(".addstudent").hide();
                    $(".popupbox").hide();
                    alert("修改成功~");
                    location.reload()


                }
            });

    }
</script>
</html>
