<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>全部实验</title>
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/index.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造虚拟实验室</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ stuname }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall">
    <div class="navbox">
        <div class="navwall navwall1">
            <div class="navtop">
                <div class="navtitname">实验作业</div>
                <div class="navarrowbox">
                    <img class="arrow" src="../static/img/up.png" alt="">
                    <img class="arrow activearrow activearrow1" src="../static/img/down.png" alt="">
                </div>
            </div>
            <ul class="navcenter navcenter1">
                <li class="navtip">
                    <a href="/index/">未完成实验({{ teachingCount.runCount }}个)</a>
                </li>
                <li class="navtip noborder">
                    <a href="/completedexp/">完成实验({{ teachingCount.stopCount }}个)</a>
                </li>
            </ul>
        </div>
        <div class="navwall navwall2">
            <div class="navtop">
                <div class="navtitname">实验库</div>
                <div class="navarrowbox">
                    <img class="arrow uparrow2" src="../static/img/up.png" alt="">
                    <img class="arrow activearrow activearrow2" src="../static/img/down.png" alt="">
                </div>
            </div>
            <ul class="navcenter navcenter2">
                <li class="navtip slectnav">
                    <a href="/allexp/">全部实验</a>
                </li>
                {% for experiment in experimentList %}
                    <li class="navtip">
                        <a href="{{ experiment.f_url }}" target="_blank">{{ experiment.f_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="list">
        <div class="allunitwall">
            {% for experiment in experimentList %}
                <div class="unitbox">
                    <div class="unittopbg">
                        <div class="desbox">
                            <div class="title">实验名称：</div>
                            <div class="txt">{{ experiment.f_name }}</div>
                        </div>

                    </div>
                    <div class="unitwall unitwall2">

                        <div class="desbox">
                            <div class="title">老师提示：</div>
                            <div class="txt">{{ experiment.f_desc }}</div>
                        </div>
                    </div>

                    <div class="unitftbg">
                        <ul class="btnwall">
                            <li class="unitbtn allpreview" videos="{{ experiment.videos }}">实验预习</li>
                            <li class="unitbtn alloperation" experimentid="{{ experiment.f_url }}">实验操作</li>
                            <li class="unitbtn alldownload" templateid="{{ experiment.f_template_id }}">默认报告模板下载</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>
</div>
<!--弹窗-->
<div class="popupbox">
    <div class="layer"></div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle allsure">确定</div>
        <div class="btn sure allcancle">取消</div>
    </div>
    <!--观看视频-->
    <div class="popupwall popupwall9">
        <img class="dele" src="../static/img/dele.png" alt="">
        <div id="videoname" class="v_name"></div>
        <div class="vbox">
            <div class="videobox">
                <video id="video" controls>
                </video>
            </div>
        </div>
        <div class="vchangebox">
        </div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('stuid', '', {expires: -1, path: '/'});
        $.cookie('stuname', '', {expires: -1, path: '/'});
        $.cookie('stunum', '', {expires: -1, path: '/'});
        $(location).attr('href', '/login/');
    });
</script>
</html>
