<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>批阅报告</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon"/>
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/teacher.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造虚拟实验室</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ teachername }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall3">
    <div class="userlist">
        <div class="listtop">
            <ul class="titbox">
                <li class="tit t_tit1">序号</li>
                <li class="tit t_tit2">学生姓名</li>
                <li class="tit t_tit3">学号</li>
                <li class="tit t_tit4">提交时间</li>
                <li class="tit t_tit5">状态</li>
                <li class="tit t_tit6">操作</li>
            </ul>
            <ul class="userwall">
                {% for report in reportList %}
                    <li class="user">
                        <div class="txt t_txt1">{{ forloop.counter }}</div>
                        <div class="txt t_txt2">{{ report.stuname }}</div>
                        <div class="txt t_txt3">{{ report.stunumber }}</div>
                        <div class="txt t_txt4">{{ report.updatetime|date:"Y-m-d H:i:s" }}</div>
                        <div class="txt t_txt5">{% if report.status == 0 %}未提交{% elif report.status == 1 %}
                            未批阅{% else %}已批阅{% endif %}</div>
                        {% if report.status == 1 %}
                            <div class="txt t_txt6 approval" reporturl="{{ report.url }}"
                                 reportid="{{ report.id }}">批阅
                            </div>
                        {% elif report.status == 2 %}
                            <div class="txt t_txt6 approval" reporturl="{{ report.url }}"
                                 reportid="{{ report.id }}">重新批阅
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>
</div>
<!--弹窗-->
<div class="popupbox">
    <div class="layer"></div>
    <!--评分弹窗-->
    <div class="popupwall popupwall1">
        <div class="name" id="pstudentname"></div>
        <div class="id" id="pstudentid"></div>
        <input type="hidden" id="preportid" value=""/>
        <!--实验报告-->
        <div id="reportbox" class="repotr">
            <object id="reportobjectid" data="" type="application/pdf" width="100%" height="100%">
                <iframe id="reportifreameid" src="" width="100%" height="100%"></iframe>
            </object>

        </div>

        <div class="scorebox">
            <div class="tip">评分</div>
            <input type="text" id="pscore">
        </div>
        <div class="btn approvalcancle cancle">取消</div>
        <div class="btn approvalsure sure">确定</div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('teacherid', '', {expires: -1, path: '/'});
        $.cookie('teachernumber', '', {expires: -1, path: '/'});
        $.cookie('teachername', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginteacher/');
    });
</script>
</html>
