<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>首页</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="{% static 'plugin/swiper.css' %}">

    <link rel="stylesheet" href="{% static 'plugin/res.css' %}">
    <link rel="stylesheet" href="{% static '/plugin/plyr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/sass/public.css' %}">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="{% static '/sass/index.css' %}">
</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="{% static 'img/logo.png' %}" alt="">
        <div class="l_float title">机械制造技术基础实验</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ stuname }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div style="width: 1000px;min-height: 0px;margin: 0 auto;margin-top: 31px;display: -webkit-box;display: -ms-flexbox;display: flex;padding-top: 1px; ">
    <p style="font-size: large;color: rgb(12, 24, 49);font-weight: bold;">虚拟实验</p>
</div>
<div style="width: 1000px;min-height: 0px;margin: 0 auto;margin-top: 31px;display: -webkit-box;display: -ms-flexbox;display: flex;padding-top: 1px; ">
    <div id ='qxl' style="cursor:pointer;background-color: rgb(91, 178, 88); width: 490px;height: 90px;text-align: center;">
        <br><br>
        <p style="font-size: large;color: rgb(12, 24, 49);">切削用量对切削力的影响</p>
    </div>
    <div style="background-color:white; width: 20px;height: 90px;">
    </div>
    <div id ='qxwd' style="cursor:pointer;background-color:rgb(91, 178, 88); width: 490px;height: 90px;text-align: center;">
        <br><br>
        <p style="font-size: large;color: rgb(12, 24, 49);">切削用量对切削温度的影响</p>
    </div>
</div>
<div style="width: 1000px;min-height: 0px;margin: 0 auto;margin-top: 20px;display: -webkit-box;display: -ms-flexbox;display: flex;padding-top: 1px; ">
    <div id="jgzl" style="cursor:pointer;background-color: rgb(91, 178, 88); width: 490px;height: 90px;text-align: center;">
        <br><br>
        <p style="font-size: large;color: rgb(12, 24, 49);">切削用量对工件表面粗糙度的影响</p>
    </div>
    <div style="background-color:white; width: 20px;height: 90px;">
    </div>
    <div id="cdjd" style="cursor:pointer;background-color: rgb(91, 178, 88); width: 490px;height: 90px;text-align: center;">
        <br><br>
        <p style="font-size: large;color: rgb(12, 24, 49);">车床刀具角度</p>
    </div>
</div>
<div style="width: 1000px;min-height: 0px;margin: 0 auto;margin-top: 31px;display: -webkit-box;display: -ms-flexbox;display: flex;padding-top: 1px; ">
    <p style="font-size: large;color: rgb(12, 24, 49);font-weight: bold;">工具</p>
</div>
<div style="width: 1000px;min-height: 0px;margin: 0 auto;margin-top: 20px;display: -webkit-box;display: -ms-flexbox;display: flex;padding-top: 1px; ">
    <div id="qxhz" style="cursor:pointer;background-color: rgb(0, 255, 255); width: 490px;height: 90px;text-align: center;">
        <br><br>
        <p style="font-size: large;color: rgb(12, 24, 49);">图像绘制</p>
    </div>
    <div style="background-color:white; width: 20px;height: 90px;">
    </div>
</div>
<div class="footer">
    <div class="fbox">
        
        <div class="tip1">网站版权所有 ©2020 哈尔滨工业大学</div>
        
    </div>
</div>
<!--弹窗-->
<div class="popupbox">
    <div class="layer"></div>
    <!--学生提交报告-->
    <div class="popupwall popupwall6">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
            <img class="dele" src="../static/img/dele.png" alt="">
        </div>
        <!--提示文案-->
        <div class="popupmid">提交报告必须为PDF格式，文件大小在3M以内。</div>
        <form action="/submitReport/" method="post" enctype="multipart/form-data">
            <div class="btn cancle">
                选择文件
                <input class="uploadfile" type="file" name="file" onchange="publicObj.fileUpLoad()"/>
            </div>
            <!-- <div class="btn sure fileupload">确认上传</div>-->
            <input class="btn sure fileupload" type="submit" class="btn btn-default" value="确认上传"/>
            <input class="reportid" type="hidden" name="reportid" value=""/>
        </form>
        <div class="fileuploadname"></div>
    </div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle indexsure">确定</div>
        <div class="btn sure indexcancle">取消</div>
    </div>
    <!--请求失败-->
    <div class="popupwall popupwall8">
        <div class="popuptop">
            <img class="logo" src="../static/img/logo.png" alt="">
        </div>
        <div class="popupmid">
            呀，服务器异常了，请稍后重试！
        </div>
        <div class="btn sure">确定</div>
    </div>
    <!--观看视频-->
    <div class="popupwall popupwall9">
        <img class="dele" src="../static/img/dele.png" alt="">
        <div id="videoname" class="v_name"></div>
        <div class="vbox">
            <div class="videobox">
                <video id="video" style="width:100%;;height:auto" controls>
                </video>
            </div>
        </div>
        <div class="vchangebox">
        </div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/plyr.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>

    // console.log($.cookie('stunum'));
    // console.log($.cookie('stuname'));
    $("#qxl").click(function () {
        window.open('http://127.0.0.1:8080/vmm/qxyl')
        // ?stunum='+$.cookie('stunum')+'&'+'stuname='+$.cookie('stuname
    });
    $("#qxwd").click(function () {
        window.open('http://127.0.0.1:8080/vmm/qxwd')
        // ?stunum='+$.cookie('stunum')+'&'+'stuname='+$.cookie('stuname
    });
    $("#jgzl").click(function () {
        window.open('http://127.0.0.1:8080/vmm/jgzl')
        // ?stunum='+$.cookie('stunum')+'&'+'stuname='+$.cookie('stuname
    });
    $("#cdjd").click(function () {
        window.open('http://127.0.0.1:8080/vmm/tool_display')
        // ?stunum='+$.cookie('stunum')+'&'+'stuname='+$.cookie('stuname
    });
    $("#qxhz").click(function () {
        window.open('/experiment/image_draw/')
        // ?stunum='+$.cookie('stunum')+'&'+'stuname='+$.cookie('stuname
    });

    $(".loginbtn").click(function () {
        $.cookie('stuid', '', {expires: -1, path: '/'});
        $.cookie('stuname', '', {expires: -1, path: '/'});
        $.cookie('stunum', '', {expires: -1, path: '/'});
        $(location).attr('href', '/login/');
    });
    $(".pageindex").click(function () {

    });
    laypage({
        cont: 'pagebox',
        pages: {{ countpage }}, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function (e, first) { //触发分页后的回调
            if (!first) { //一定要加此判断，否则初始时会无限刷新
                location.href = '?page=' + e.curr;
            }
        }
    });
    //
//                       _oo0oo_
//                      o8888888o
//                      88" . "88
//                      (| -_- |)
//                      0\  =  /0
//                    ___/`---'\___
//                  .' \\|     |// '.
//                 / \\|||  :  |||// \
//                / _||||| -:- |||||- \
//               |   | \\\  -  /// |   |
//               | \_|  ''\---/''  |_/ |
//               \  .-\__  '-'  ___/-. /
//             ___'. .'  /--.--\  `. .'___
//          ."" '<  `.___\_<|>_/___.' >' "".
//         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//         \  \ `_.   \_ __\ /__ _/   .-` /  /
//     =====`-.____`.___ \_____/___.-`___.-'=====
//                       `=---='
//     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//               佛祖保佑         永无BUG
</script>
</html>
