<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    {% load staticfiles %}
    <!-- 初始化CSS -->
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="{% static 'sass/login.css' %}">
</head>
<body>
<div id="loginwall">
    <img src="../static/img/logo.png" class="logo">
    <div class="loginbox">
        <div class="infor title title1">机械制造虚拟实验室</div>
        <div class="infor title title2">哈尔滨工业大学(深圳)</div>
        <text class="infor tip userid">学号</text>
        <input type="text" class="infor iptusierid">
        <text class="infor tip name">姓名</text>
        <input type="text" class="infor iptname">
        <div class="login">登录</div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".login").click(function () {
        var stuid = $(".iptusierid").val();
        var stuname = $(".iptname").val();
        $.post("/login/stu/",
            {
                stuid: stuid,
                stuname: stuname
            },
            function (data, status) {
                dataObj = $.parseJSON(data)
                code = dataObj.code;
                if(code != 0){
                    alert(dataObj.desc);
                }else
                {
                    $(location).attr('href', '/index/');
                }
            });
    });
</script>
</html>
