<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置基础信息</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/management.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造虚拟实验室</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{{ adminname }}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall2">
    <div id="infor_table">
        <table >
            <tr>
                <td style="width: 250px;height: 35px;text-align:center;font-weight:bold;" >入学年份</td>
                <td style="width: 250px;height: 35px;text-align:center;font-weight:bold;" >院系</td>
                <td style="width: 250px;height: 35px;text-align:center;font-weight:bold;" >班级</td>
            </tr>
            <tr>
                <td style="width: 250px;height: 35px;text-align:center;" >2019</td>
                <td style="width: 250px;height: 35px;text-align:center;" >机电工程学院</td>
                <td style="width: 250px;height: 35px;text-align:center;" >1908105</td>
                <td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>
            </tr>
             <tr>
                <td style="width: 250px;height: 35px;text-align:center;;" >-</td>
                <td style="width: 250px;height: 35px;text-align:center;" >-</td>
                <td style="width: 250px;height: 35px;text-align:center;" >1908106</td>
                 <td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>
            </tr>
            <tr>
                <td style="width: 250px;height: 35px;text-align:center;;" >2018</td>
                <td style="width: 250px;height: 35px;text-align:center;" >机电工程学院</td>
                <td style="width: 250px;height: 35px;text-align:center;" >1808106</td>
                <td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>
            </tr>
        </table >

    </div>
    <div id="infor">
    </div>
    <div>
         <table >
             <br>
            <tr>
                <td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><button id="add1">添加</button></td>
                <td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><button id="add2">添加</button></td>
                <td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><button id="add3">添加</button></td>
            </tr>
        </table>
    </div>

    <center><button style=" margin-top: 30px; width: 100px;height: 25px">保存并返回</button></center>
</div>
</body>
<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $("#add1").click(add1);
    $("#add2").click(add2);
    $("#add3").click(add3);
    //按钮可点击的状态
    click_status=1;
    function add1() {
        if (click_status==1){
            $("#infor").append(
            '<div>'+
            '<table cellspacing="100">'+
            '<tr>'+
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="1" style="background-color:#f0f0f0; width:230px;height:25px"></td>'+
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="2" style="background-color:#f0f0f0;width:230px;height:25px"></td>'+
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="3" style="background-color:#f0f0f0;width:230px;height:25px"></td>'+
                '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="save(1,this)">保存</button></td>'+
                '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="del(this)">删除</button></td>'+
            '</tr>'+
            '</table>'+
            '</div>'
            )
        }
        else {
            alert("请先保存或删除您正在处理的信息")
        }
       
        click_status=0;
    }
    function add2() {
        if (click_status==1) {
            $("#infor").append(
                '<table cellspacing="100">' +
                '<tr>' +
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ></td>' +
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="2" style="background-color:#f0f0f0;width:230px;height:25px"></td>' +
                '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="3" style="background-color:#f0f0f0;width:230px;height:25px"></td>' +
                '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="save(2,this)">保存</button></td>' +
                '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="del(this)">删除</button></td>' +
                '</tr>' +
                '</table>'
            )
        }
        else {
            alert("请先保存或删除您正在处理的信息")
        }
        click_status=0;
    }
    function add3() {
        if (click_status==1) {
            $("#infor").append(
                '<table cellspacing="100">'+
                '<tr>'+
                    '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ></td>'+
                    '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ></td>'+
                    '<td style="width: 250px;text-align:center;height: 35px;font-weight:bold;" ><input id="3" style="background-color:#f0f0f0;width:230px;height:25px"></td>'+
                    '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="save(3,this)">保存</button></td>'+
                    '<td style="width: 100px;text-align:center;height: 35px;font-weight:bold;" ><button onclick="del(this)">删除</button></td>'+
                '</tr>'+
            '</table>'
            )
        }
        else {
            alert("请先保存或删除您正在处理的信息")
        }
        click_status=0;
    }

    function del(e) {
        $(e).parent().parent().remove();
        click_status=1;
    }
    function save(i,e) {
        if(i==1){

            if($("#1").val()==""||$("#2").val()==""||$("#3").val()==""){
                alert("请完善信息~")
                return false;
            }
           $("#infor_table").append(
           '<table>'+
               '<tr>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#1").val()+'</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#2").val()+'</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#3").val()+'</td>'+
                '<td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>'+
            '</tr>'+
        '</table >'
           );

        }
        else if(i==2){
            if($("#2").val()==""||$("#3").val()==""){
                alert("请完善信息~")
                return false;
            }
           $("#infor_table").append(
           '<table>'+
               '<tr>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >-</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#2").val()+'</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#3").val()+'</td>'+
                '<td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>'+
            '</tr>'+
        '</table >'
           );

        }
        else {
            if($("#3").val()==""){
                alert("请完善信息~")
                return false;
            }
            $("#infor_table").append(
           '<table>'+
               '<tr>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >-</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >-</td>'+
                '<td style="width: 250px;height: 35px;text-align:center;" >'+$("#3").val()+'</td>'+
                '<td style="width: 100px;height: 35px;text-align:center;" ><button onclick="del(this)">删除</button></td>'+
            '</tr>'+
        '</table >'
           );

        }
        del(e);

    }
</script>
</html>