<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>学生用户管理</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link href="../static/plugin/swiper.css">
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" type="text/css" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/management.css">


</head>
<body>
<div class="topwall">
    <div class="top">
        <img class="l_float logo" src="../static/img/logo.png" alt="">
        <div class="l_float title">机械制造虚拟实验室</div>
        <div class="l_float userlog"></div>
        <div class="l_float username">{% if adminname != None %}{{ adminname }}{% endif %}</div>
        <div class="l_float loginbtn">退出登录</div>
    </div>
</div>
<div class="wall2">
    <div class="m_topnavbox">
        <ul class="navwall">
            <li class="topnav"><a class="activetopnav" href="">学生用户</a></li>
            <li class="topnav "><a href="/teachermanagement/">教师用户</a></li>
            {% if issuperadmin == "1" %}
                <li class="topnav"><a href="/adminmanagement/">管理员用户</a></li>
            {% endif %}
        </ul>
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="adduserbox">
            <img src="../static/img/addlogo.png" alt="">
            <text>添加用户</text>
        </div>
    </div>
    <div class="searchbox">
        <div class="tit tit1">姓名</div>
        <div class="tit tit2">学号</div>
        <div class="btn searchstu">搜索</div>
        <input type="text" class="inp name searchname" value="{% if searchname != None %}{{ searchname }}{% endif %}">
        <input type="text" class="inp id searchnum" value="{% if stunum != None %}{{ stunum }}{% endif %}">
    </div>
    <div class="userlist">
        <div class="listtop">
            <ul class="titbox">
                <li class="tit s_tit1">序号</li>
                <li class="tit s_tit2">姓名</li>
                <li class="tit s_tit3">学号</li>
                <li class="tit s_tit4">指导老师</li>
                <li class="tit s_tit5">指导老师编号</li>
                <li class="tit s_tit6">添加时间</li>
            </ul>
            <ul class="userwall">
                {% for student in studentList %}
                    <li class="user">
                        <div class="txt s_txt1">{{ forloop.counter }}</div>
                        <div class="txt s_txt2">{{ student.name }}</div>
                        <div class="txt s_txt3">{{ student.number }}</div>
                        <div class="txt s_txt4">{{ student.teachername }}</div>
                        <div class="txt s_txt5">{{ student.teachernumber }}</div>
                        <div class="txt s_txt6">{{ student.createtime|date:"Y-m-d H:i:s" }}</div>
                        <div class="txt s_txt7">
                            <text class="deleuser" studentid="{{ student.id }}">删除</text>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="pagebox"></div>

    </div>
</div>
<div class="footer">
    <div class="fbox">
        <div class="tip1">地址：深圳市南山区桃源街道深圳大学城哈尔滨工业大学校区</div>
        <div class="tip2">邮编：518055</div>
        <div class="tip3">网站版权所有 ©2018 哈尔滨工业大学(深圳)</div>
        <div class="tip4">粤ICP 备15069706号-1</div>
    </div>

</div>
<!--弹窗-->
<div class="popupbox">
    <div class="layer"></div>
    <!--确认操作-->
    <div class="popupwall popupwall7">
        <div class="popuptop">
            <img class="logo" src="./img/logo.png" alt="">
        </div>
        <div class="popupmid">
            你确认要执行这个操作吗？
        </div>
        <div class="btn cancle smsure">确定</div>
        <div class="btn sure smcancle">取消</div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/md5.js"></script>
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/fastclick.js"></script>
<script src="../static/plugin/jqpaginator.min.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".loginbtn").click(function () {
        $.cookie('issuperadmin', '', {expires: -1, path: '/'});
        $.cookie('adminid', '', {expires: -1, path: '/'});
        $.cookie('adminname', '', {expires: -1, path: '/'});
        $(location).attr('href', '/loginadmin/');
    });
</script>
<script>
    //获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

    $(".searchstu").click(function () {
        searchname = $(".searchname").val();
        searchnum = $(".searchnum").val();
        var param = "?";
        if (searchname != "") {
            param = param + "searchname=" + searchname
        }
        if (searchnum != "") {
            if (param != "?") {
                param = param + "&"
            }
            param = param + "searchnum=" + searchnum
        }

        if (param == "?") {
            param = "";
        }
        $(location).attr('href', '/studentmanagement/' + param);
    });
    laypage({
        cont: 'pagebox',
        pages: {{ countpage }}, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function (e, first) { //触发分页后的回调
            if (!first) { //一定要加此判断，否则初始时会无限刷新
                location.href = '?page=' + e.curr;
            }
        }
    });
</script>
</html>
