<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>教师端登录</title>
     {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/hit.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'img/hit.ico' %}" type="image/gif">
    <!-- 初始化CSS -->
    <link rel="stylesheet" href="../static/plugin/res.css">
    <link rel="stylesheet" href="../static/sass/public.css">
    <!-- 模块css -->
    <link rel="stylesheet" type="text/css" href="../static/sass/login.css">

</head>
<body>
<div id="loginwall">
    <img src="../static/img/logo.png" class="logo">
    <div class="loginbox">
        <div class="infor title title1 title3 ">机械制造技术基础实验
            <text>[教师]</text>
        </div>
        <div class="infor title title2">哈尔滨工业大学(深圳)</div>
        <text class="infor tip userid">帐号</text>
        <input type="text" class="infor iptusierid">
        <text class="infor tip name">密码</text>
        <input type="password" class="infor iptname">
        <div class="login" style="width: 200px;margin-right: 35px;">登录</div>
    </div>
</div>
</body>

<!-- 引用插件 -->
<script src="../static/plugin/jquery.js"></script>
<script src="../static/plugin/jqCookies.js"></script>
<script src="../static/plugin/config.js"></script>
<script src="../static/plugin/laypage/laypage.js"></script>
<script src="../static/plugin/zane-calendar.min.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/plugin/sha256.js"></script>
<!-- 模块JS -->
<script type="text/javascript" src="../static/js/index.js"></script>
<script>
    $(".login").click(function () {
        var userid = $(".iptusierid").val();
        var name = $(".iptname").val();
        $.post("/login/teacher/",
            {
                teaid: userid,
                passwd: sha256_digest(name)
            },
            function (data, status) {
                dataObj = $.parseJSON(data)
                code = dataObj.code;
                if (code != 0) {
                    alert(dataObj.desc);
                } else {
                    $(location).attr('href', '/undoneteaching/');
                }
            });
    });

    $(document).keyup(function(e){
          var key = e.which;
          if(key==13) {
              var userid = $(".iptusierid").val();
              var name = $(".iptname").val();
              $.post("/login/teacher/",
                  {
                      teaid: userid,
                      passwd: sha256_digest(name)
                  },
                  function (data, status) {
                      dataObj = $.parseJSON(data)
                      code = dataObj.code;
                      if (code != 0) {
                          alert(dataObj.desc);
                      } else {
                          $(location).attr('href', '/undoneteaching/');
                      }
                  });
          }
        });
</script>
</html>
